.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

body {
  background: #eee;
}
ul.navbar{
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  margin-left: 20px;
}

ul.navbar li a{
  background: #ddd;
  padding: 8px 20px;
  float: left;
}
.container {
  width: 800px;
  margin: 0 auto;

}
.toc {
  background: white;
  float: left;
  clear: left;
  width: 25%;
  padding: 20px;
  box-sizing: border-box;
}
.blog-post {
  float: left;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}
.profile {
  background: white;
  float: left;
  width: 25%;
  padding: 20px;
  box-sizing: border-box;
}
